@import '../../styles/globals';
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 18px;
  padding: 1vh;
  height: fit-content;
}
.container div {
  padding: 2vh;
  border-radius: 48px;
  background-color: $gray-15;
}
.inspiration {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  grid-row: span 12 / 4;
}
.icon {
  width: 100%;
  object-fit: cover;
}
.community {
  grid-column: span 8;
  grid-row: span 1;
}
.imageSection {
  height: 100%;
  border: 4px $gray-15 solid;
  border-radius: 48px;
  grid-column: span 4;
  grid-row: span  2;
}
.purpose {
  grid-column: span 4;
  grid-row: span 2;
}
.benefits{
   grid-column: span  5;
  grid-row: span 2;
}
@media (max-width: 888px) {
  .container {
    font-size: 1vh;
  }
  .body div {
    width: 100%;
  }
}
