@import '../../styles/globals';

.infoCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.card {
  @include card-style;
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
  @include responsive-text(1.25rem, 1rem);
}

.description {
  font-size: 1rem;
  @include responsive-text(1rem, 0.85rem);
}
