$gray-15: #f8f8f8;
$gray-30: #e7e7e7;
$gray-45: #787878;
$gray-60: #3f3f3f;
$gray-75: #272727;
$gray-90: #111111;
$brand-40: #efe86589;
$black-50: #0000008b;
$black-72: #000000b0;
$brand-default: #e0c922;
$hover: #ffed67;
$vector: #efe865;
$vector-40: hsla(57, 81%, 67%, 0.4);
$error: #e6514b;
$blue: #c1efd3;
$green: #d0edb5;
$yellow: #f5ecaa;
$orange: #ecd7a8;
$desktop-card-border: 48px;

@font-face {
  font-family: Gilory;
  src: url('../../public/font/Gilroy-Medium.ttf');
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-style {
  background-color: $gray-15;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@mixin responsive-text($size-desktop, $size-mobile) {
  font-size: $size-desktop;

  @media (max-width: 768px) {
    font-size: $size-mobile;
  }
}
.body {
  margin: 0;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  font-family: Gilory;
  overflow-x: hidden;
  color: #111111;
  background-color: #111111;
}
