.container {
  width: 100%;
  height: 93vh;
}

.sunglassText {
  position: absolute;
  left: 45%;
  top: 8vh;
  z-index: 1;
}
.image {
  width: 100%;
  height: 100%;
  border: 4px #f8f8f8 solid;
  border-radius: 48px;
  object-fit: cover;
  opacity: 0.4;
}
.textBox {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 93vh;
}
.textBox p,
.textBox h1 {
  color: #ffffff;
}
.textBox h1 {
  font-weight: bold;
  font-size: 56px;
}
.textBox p{
  font-size: 32px;
}
.button {
  color: #111111;
  background-color: #e0c922;
  border: none;
  padding: 1vh 2vh;
  border-radius: 16px;
  left: 45%;
  top: 48vh;
  font-family: Gilory;

}
