@import '../../styles/globals';
.galleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid $gray-15;
  border-radius: 48px;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  position: relative;
}

.topSection {
  width: 100%;
  height: 100%; 
  position: relative;
}

.titleBox {
  margin-top: 24px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 5; }

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: white;
  padding: 0 16px;
  border-radius: 16px;
  font-weight: bold;
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.bottomSection {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  z-index: 4;
  width: 100%;
  bottom: 0;
}

.thumbnail {
  cursor: pointer;
  width:5vw;
  height: 5vw;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid transparent;
}

.thumbnail.selected {
  border-color: #ccc;
}
