@import '../../styles/globals';

.timeline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  padding: 2vh;
  border-radius: 8px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.milestone {
  background-color: $gray-15;
  @include card-style;
  text-align: center;
  margin: 0.5rem;
  width: 13vw;
  height: 95%;
  border-radius: $desktop-card-border;
  padding: 1vh 3vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.circleDate {
  width: 14vw;
  height: 14vw;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 -5vh -8vh;
}
.firstCircleDate {
  background-color: $orange;
}
.secondCircleDate {
  background-color: $yellow;
}
.thirdCircleDate {
  background-color: $green;
}
.fourthCircleDate {
  background-color: $blue;
}
.month,.year{
  font-size: 64px;
  line-height: 1;
  margin: 0;
}
.daycounterBox{
  width: 40%;
  height: 100%;
}