@import '../../../styles/globals';
.dayCounter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  gap: 7vh;
}
.dayCounterImageContainer {
  top: 0;
  position: absolute;
  z-index: -1;
}

.dayCounterImage {
  border-radius: 48px;  
  background-color: $vector;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sissors {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.openingDay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.currentday{
  font-size: 28px;
  font-weight: bolder;
}
.dayCounterDetails {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.dayCounterCircle {
  width: 14vh;
  height: 14vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30vh;
  padding: 1vh;
  color: $gray-15;
  background-color: $gray-90;
}
// .remainingValues {
//   font-size: 64px;
//   line-height:0;
// }
// .remainingLabels {
//   font-size: 20px;
// }
